.text p {
    font-family: "Barlow", sans-serif;
    font-size: 1.5vw;
    margin-bottom: 2vw;
    text-align: justify;
}

.historia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin-left: 10vw;
    margin-top: 5vw;
}