.welcome h2 {
    font-family: "Barlow", sans-serif;
    font-size: 2vw;
    font-weight: 500;
    margin: 4vw;
    text-align: center;
}

.welcome span {
    color: #B48F57;
}

.title-text h2 {
    font-family: "Barlow", sans-serif;
    font-size: 2vw;
    font-weight: 500;
    margin: 4vw;
}

.services {
    display: flex;
    margin: 4vw;
}

.services .services-cards:not(:first-child) {
    margin-left: 9vw;
}

.services-cards p{
    font-family: "Barlow", sans-serif;
    font-size: 1.5vw;
    font-weight: 500;
    margin-top: 1vw;
    text-align: center;
}

.quartos-reservas h2 {
    font-family: "Barlow", sans-serif;
    font-size: 2vw;
    font-weight: 500;
    margin: 7vw 4vw 7vw 4vw;
}